<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" href="Users/shalmalhotra/Development/code/pre-work/phase-0-css-fundamentals-lab"/>
  <style>
    h1 {
      color: red;
    }
  </style>
</head>
<body>
  <!-- Rest of your HTML code goes here -->
</body>
</html>
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
